/* ----------------------------------------------------------------------
 moduleOrder - Module that has has title, body, and media. It changes order at breakpoints. Used on home page.
---------------------------------------------------------------------- */
.moduleOrder {
    display: block; /* Changing from Flexbox */
    margin-bottom: 145px;
    text-align: left;
}

.moduleOrder-hd {
    width: 16%;
    margin-bottom: 40px;
    margin-left: 14.5%;
    font-size: 22px;
}

.moduleOrder-bd {
    width: 40%;
    padding-left: 23%;
    margin-bottom: 25px;
    font-size: 16px;
}

.moduleOrder-media {
    float: right; /* Floating, because content is one of three siblings, which was needed for order changing for other breakpoints. */
    width: 37%;
    margin-top: -110px; /* Because of the order changing, this is needed to align content with top of module. */
    margin-right: 13%;
}
