/* ----------------------------------------------------------------------
 heading - content section heading module
---------------------------------------------------------------------- */
.heading_full {
    padding-right: 0;
    padding-left: 0;
}

.mix-heading_space {
    margin-bottom: 130px;
}

.heading-bd {
    font-size: 48px;
}

.heading-bd_sm {
    font-size: 24px;
}

.heading-bd_lg {
    font-size: 62px;
}

.heading-bd_hero {
    margin-bottom: 24px;
}

.heading-bd_secondary {
    font-size: 71px;
}

.heading-bd_xSmall {
    font-size: 24px;
}

.mix-heading-bd_tight {
    padding-right: 24%;
    padding-left: 24%;
}

.heading-meta_hero {
    margin-right: 2.5%;
    margin-left: 2.5%;
    font-size: 22px;
    color: #555555;
}

.heading-meta_strong {
    font-size: 22px;
}

.heading-meta_strongLt {
    font-size: 16px;
}

.heading-meta_highlight {
    font-size: 23px;
    line-height: 1.6;
}

.heading-meta_narrow {
    margin-right: 10%;
    margin-left: 10%;
}

.mix-heading-meta_tight {
    margin-right: 33%;
    margin-left: 33%;
}

.heading-text {
    font-size: 15px;
    line-height: 2;
}

.heading-text_tight {
    padding-left: 21%;
    padding-right: 21%;
}

.heading-ft-cta_space {
    padding-top: 30px;
}

.mix-heading_rightLg {
    text-align: right;
}

.mix-heading_leftLg {
    text-align: left;
}

.mix-heading_tight {
    padding: 0;
}

.mix-heading_spacer {
    margin-bottom: 30px;
}
