/* ----------------------------------------------------------------------
 moduleSidebySide - Module that has text content and media content side by side in larger screens.
---------------------------------------------------------------------- */
.moduleSidebySide {
    padding-top: 100px;
    margin-bottom: 65px;
}

.moduleSidebySide-media {
    height: 300px;
    background-image: url("../media/images/map-m.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.moduleMediaLabel-item-label {
    display: none; /* Not used for mobile. Not an accessibility concern. */
}
