/* ---------------------------------------------------------------------
Global Button Styles - Above Medium Screens
------------------------------------------------------------------------ */
.btn {
    font-size: 11px;
}

.btn_arrow {
    padding: 16px 80px 16px 20px;
}

.btn_mutedArrow {
    padding: 16px 60px 16px 20px;
}
