/* ----------------------------------------------------------------------
 headingHighlight - Heading in container that is highlighted
---------------------------------------------------------------------- */
.headingHighlight {
    margin-top: 123px;
    margin-bottom: 95px;
}

.headingHighlight-inner {
    font-size: 52px;
    line-height: 1.13;
    padding: 57px 25px 66px 25px;
}
