/* ----------------------------------------------------------------------
 headingHighlight - Heading in container that is highlighted
---------------------------------------------------------------------- */
.headingHighlight {
    margin-top: 83px;
    margin-bottom: 110px;

}

.headingHighlight-inner {
    padding: 57px 15% 73px 15%;
    line-height: 1.12;
}
