/* ----------------------------------------------------------------------
 wysiwyg - User content styles
---------------------------------------------------------------------- */
.wysiwyg_article {
    font-size: 20px;
}

.wysiwyg_article p {
    margin-bottom: 30px;
}

.wysiwyg_article h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.wysiwyg_article h3 {
    font-size: 20px;
}

.wysiwyg_article h4 {
    font-size: 20px;
}

.wysiwyg_article h5 {
    font-size: 20px;
}

.wysiwyg_article h6 {
    font-size: 20px;
}

.wysiwyg_article blockquote {
    padding-left: 35px;
}

.wysiwyg ul li:before {
    top: 8px;
}
