/* ----------------------------------------------------------------------
 sides - horizontal space
---------------------------------------------------------------------- */
.sides {
    padding-right: 70px;
    padding-left: 70px;
}

.sides_main {
    padding-right: 9.5%;
    padding-left: 9.5%;
}

.sides_secondary {
    padding-right: 12%;
    padding-left: 12%;
}

.sides_small {
    padding-right: 10px;
    padding-left: 10px;
}
