/* ----------------------------------------------------------------------
 sides - horizontal space
---------------------------------------------------------------------- */
.sides {
    padding-right: 200px;
    padding-left: 200px;
}

.sides_main {
    padding-right: 16%;
    padding-left: 16%;
}

.sides_small {
    padding-right: 14.5%;
    padding-left: 14.5%;
}
