/* ----------------------------------------------------------------------
 blocksScroll - Blocks that scroll on mobile.
---------------------------------------------------------------------- */
.blocksScroll {
    display: flex; /* So children are arranaged side by side */
    flex-wrap: wrap; /* So children wrap */
    overflow: auto; /* Reset from mobile */
    white-space: normal; /* Reset from mobile */
    margin-left: -1.5%;
}

.blocksScroll-item {
    box-sizing: border-box;
    display: flex; /* So children fill space */
    width: 33%;
    padding-left: 1.5%;
}

.blocksScroll-item:first-child {
    margin-left: 0; /* Reset mobile */
}

.blocksScroll-item:last-child {
    margin-right: 0; /* Reset mobile */
}
