/* ----------------------------------------------------------------------
 vR - vertical rhythm
---------------------------------------------------------------------- */
$vR-SPACE: 10px;

.vR_x12to14to7 {
    margin-bottom: calc(#{$vR-SPACE} * 7);
}

.vR_x2to4to6 {
    margin-bottom: calc(#{$vR-SPACE} * 6);
}
