/* ---------------------------------------------------------------------
labelOverlay - Label and graphic character that stack.
------------------------------------------------------------------------ */
.labelOverlay-number {
    font-size: 115px;
}

.labelOverlay-label {
    line-height: 1.8;
}

.mix-labelOverlay-label_sm {
    top: 20px;
    font-size: 16px;
}
