/* ---------------------------------------------------------------------
labelOverlay - Label and graphic character that stack.
------------------------------------------------------------------------ */
.mix-labelOverlay-number_sm {
    font-size: 68px;
}

.mix-labelOverlay-label_sm {
    top: 15px;
    font-size: 11px;
}
