/* ----------------------------------------------------------------------
 moduleDataHighlight
---------------------------------------------------------------------- */
.moduleDataHighlight {
    margin-bottom: 97px;
}

.moduleDataHighlight-hd {
    margin-bottom: 40px;
}

.moduleDataHighlight-bd {
    padding-right: 8%;
    padding-left: 8%;
    margin-bottom: 27px;
}

.moduleDataHighlight-ft {
    background: none;
    border-bottom-width: 0;
    padding-top: 23px;
    margin-right: 9%;
    margin-left: 9%;
}

