/* ----------------------------------------------------------------------
 moduleDataHighlight
---------------------------------------------------------------------- */
.moduleDataHighlight {
    margin-bottom: 90px;
}

.moduleDataHighlight-hd {
    margin-bottom: 80px;
}

.moduleDataHighlight-bd {
    padding-right: 16%;
    padding-left: 16%;
    margin-bottom: 16px;
}

.moduleDataHighlight-ft {
    padding-top: 45px;
    padding-bottom: 45px;
}

.moduleDataHighlight-ft-data-number {
    font-size: 50px;
}
