/*
    Font Weights:
        100 - Thin
        200 - Extra Light (Ultra Light)
        300 - Light
        400 - Normal
        500 - Medium
        600 - Semi Bold (Demi Bold)
        700 - Bold
        800 - Extra Bold (Ultra Bold)
        900 - Black (Heavy)
*/

/*
 * Graphik
 */

/* Regular */
@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Regular.eot');
    src: url('Graphik-Regular.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Regular.woff2') format('woff2'),
        url('Graphik-Regular.woff') format('woff'),
        url('Graphik-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
/* @font-face {
    font-family: 'Graphik';
    src: url('Graphik-RegularItalic.eot');
    src: url('Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('Graphik-RegularItalic.woff2') format('woff2'),
      url('Graphik-RegularItalic.woff') format('woff'),
      url('Graphik-RegularItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
} */

/* Medium */
@font-face {
    font-family: 'Graphik';
    src: url('Graphik-Semibold.eot');
    src: url('Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Semibold.woff2') format('woff2'),
        url('Graphik-Semibold.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}
/* @font-face {
    font-family: 'Graphik';
    src: url('Graphik-Semibold.eot');
    src: url('Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Graphik-Semibold.woff2') format('woff2'),
        url('Graphik-Semibold.woff') format('woff');
    font-style: italic;
    font-weight: 500;
} */

/*
 * Crique Grotesk
 */

/* Medium */
@font-face {
    font-family: 'Crique Grotesk';
    src: url('CriqueGrotesk-Medium.eot');
    src: url('CriqueGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('CriqueGrotesk-Medium.woff2') format('woff2'),
        url('CriqueGrotesk-Medium.woff') format('woff'),
        url('CriqueGrotesk-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

/* Bold */
@font-face {
    font-family: 'Crique Grotesk';
    src: url('CriqueGrotesk-Bold.eot');
    src: url('CriqueGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('CriqueGrotesk-Bold.woff2') format('woff2'),
        url('CriqueGrotesk-Bold.woff') format('woff'),
        url('CriqueGrotesk-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

/* Mono */
@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Regular.eot');
    src: url('RobotoMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
