/* ----------------------------------------------------------------------
 moduleImgTxtHero
---------------------------------------------------------------------- */
.moduleImgTxtHero {
    margin-bottom: 100px;
}

.moduleImgTxtHero-hd {
    padding-left: 20%;
    padding-right: 20%;
}

.moduleImgTxtHero-media {
    margin-bottom: 23px;
}

.moduleImgTxtHero-bd {
    margin-top: -50px;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 10px;
}

.moduleImgTxtHero-hd_wide {
    padding-left: 5%;
    padding-right: 5%;
}

.moduleImgTxtHero-media_pullTop {
    margin-top: -320px;
}

.moduleImgTxtHero-media_alt {
    margin-top: -317px;
    margin-bottom: 32px;
    padding-left: 26%;
    padding-right: 25%;
}
