/* ----------------------------------------------------------------------
 moduleImgTxtHero
---------------------------------------------------------------------- */
.moduleImgTxtHero {
    padding-top: 132px;
}

.moduleImgTxtHero-hd {
    padding-right: 23%;
    padding-left: 23%;
}

.moduleImgTxtHero-media {
    margin-top: -178px;
    margin-bottom: -63px;
}

.moduleImgTxtHero-media_alt {
    margin-top: -304px;
    margin-bottom: 0;
    padding-left: 33%;
    padding-right: 33%;
}

.moduleImgTxtHero-bd {
    padding-left: 9.5%;
    padding-right: 9.5%;
}

.moduleImgTxtHero-bd-article {
    font-size: 16px;
    column-count: 2;
    column-gap: 40px;
    text-align: left;
}
