/* ----------------------------------------------------------------------
 legendLabel
---------------------------------------------------------------------- */
.legendLabel {
    color: $COLOR_TEXT;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $FONT_SECONDARY;
    font-weight: 600;
    margin-bottom: 10px;
}
