//----------------------------------------------------------------------
// Variable constants
//----------------------------------------------------------------------

//    Crique Grotesk Display Props and variants
//    Thin - font: 200 normal 14px/1.0 $FONT;
//    Light - font: 300 normal 14px/1.0 $FONT;
//    LightItalic - font: 300 italic 14px/1.0 $FONT;
//    Regular - font: 400 normal 14px/1.0 $FONT;
//    Bold - font: 700 normal 14px/1.0 $FONT;
//
//    Montserrat Props and variants
//    UltraLight - font - 300 normal 14px/1.0 $FONT_SECONDARY;
//    Semibold - font - 400 normal 14px/1.0 $FONT_SECONDARY;
//    Bold - font - 500 normal 14px/1.0 $FONT_SECONDARY;
//
//    Crique Grotesk Props and variants
//    Thin - font: 200 normal 14px/1.0 $FONT_TERTIARY;
//    Light - font: 300 normal 14px/1.0 $FONT_TERTIARY;
$FONT: "criquegroteskdisplay", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$FONT_STRONG: "criquegroteskdisplay", "HelveticaNeue-Bold", "Helvetica Bold", "Arial Black", sans-serif;
$FONT_SECONDARY: "montserrat", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$FONT_SECONDARY_STRONG: "montserrat", "HelveticaNeue-Bold", "Helvetica Bold", "Arial Black", sans-serif;
$FONT_TERTIARY: "criquegrotesk", "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$FONT_MONO: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$FONT_SIZE: #{16px};

//----------------------------------------------------------------------
// Common Colors
//----------------------------------------------------------------------
$COLOR_BRAND: #006bff; // Bright blue
$COLOR_BRAND_DARK: #006afd;
$COLOR_BRAND_THEME: #ff0000; // Red

$COLOR_TEXT_REVERSE: #ffffff; // White
$COLOR_TEXT: #7c7c7c;
$COLOR_TEXT_LIGHT: #adadad;
$COLOR_TEXT_THEME: #ffffff;
$COLOR_TEXT_DARK: #003691;
$COLOR_TEXT_WYSIWYG: #474747;

$COLOR_BACKGROUND: #ffffff; // White
$COLOR_BACKGROUND_REVERSE: #001228; // Very dark blue
$COLOR_BACKGROUND_THEME: #1b1b1b;

$COLOR_ACTIVE: #000000; // Black

$COLOR_UI_LIGHT: #fcfcfc; // light gray/almost white
$COLOR_UI_ACCENT: #f2f2f2; // Very light gray
$COLOR_UI_MEDIUM: #d9d9d9; //medium color gray
$COLOR_UI_DARK: #333333; //dark gray

$COLOR_UI_ACCENT_THEME: #2a2a2a; // Very dark gray

$COLOR_TWITTER: #55acee;
$COLOR_FACEBOOK: #3b5998;
$COLOR_LINKEDIN: #0077b5;

//----------------------------------------------------------------------
// Viewport Widths
//----------------------------------------------------------------------
// @TODO: Update
$WIDTH_SM: 480px; // max-width for _sm
$WIDTH_MD: 700px; // min-width for _md
$WIDTH_LG: 900px; // min-width for _lg

//----------------------------------------------------------------------
// Z-Index - Kept here so we can see stacking elements at a glance
//----------------------------------------------------------------------
$Z_INDEX_TRIANGLE: 5;
$Z_INDEX_BG: 10;
$Z_INDEX_COUNTER: 15;
$Z_INDEX_REORDER: 20;
$Z_INDEX_NAVSCROLL: 20;
$Z_INDEX_NAV_SUB: 25;
$Z_INDEX_COUNTER_HD: 30;
$Z_INDEX_HEADING: 45;
$Z_INDEX_PROGRESS: 50;
$Z_INDEX_HEADER: 55;
$Z_INDEX_NAV: 60;
$Z_INDEX_TOGGLE: 65;
$Z_INDEX_MODAL: 70;

//----------------------------------------------------------------------
// Container Widths
//----------------------------------------------------------------------
$CONTAINER_MAX_WIDTH_LG: 1440px;
$CONTAINER_MAX_WIDTH_MD: 1020px;
$CONTAINER_MAX_WIDTH_SM: 900px;

//----------------------------------------------------------------------
// Misc
//----------------------------------------------------------------------
$TRANSITION_DURATION: 250ms;

//----------------------------------------------------------------------
// Wordpress Image Upload Paths
//----------------------------------------------------------------------
$uploads_path_2016_06: "wp-content/uploads/2016/06";
$uploads_path_2016_07: "wp-content/uploads/2016/07";
$uploads_path_2016_12: "wp-content/uploads/2016/12";


//----------------------------------------------------------------------
// New - Jabal
//----------------------------------------------------------------------
$global-ease: ease-in-out;
$global-speed: .3s;

$black_45: rgba(0, 0, 1, 0.45);