/* ----------------------------------------------------------------------
 modulePage - Module that has header, bg, text
---------------------------------------------------------------------- */
.modulePage {
    margin-right: 10%;
    margin-left: 10%;
}

.modulePage-bd {
    // margin-bottom: 525px;
}

.modulePage-ft {
    columns: 2;
    column-gap: 20px;
    text-align: left;
    line-height: 1.6;
}

.modulePage-ft > p {
    margin-bottom: 23px; /* Margins not on top, because wrapped paragraphs would have gap at top */
    break-inside: avoid;
}

.modulePage-ft > p + p {
    margin-top: 0;
}

.modulePage-bg {
    margin-top: -185px;
    margin-bottom: 35px;
    background-position: center top;
}
