/* ----------------------------------------------------------------------
 moduleProcess
---------------------------------------------------------------------- */
.moduleProcess-item-md {
    padding-left: 30%;
    padding-right: 30%;
}

.moduleProcess-item {
    padding-left: 90px;
}
