/* ----------------------------------------------------------------------
 moduleTxtHero - Module that has title and text
---------------------------------------------------------------------- */
.moduleTxtHero-bd {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 16px;
}
