/* ---------------------------------------------------------------------
Blockquote - Standard blockquote style
------------------------------------------------------------------------ */
.blockquote {
    margin-right: 28%;
    margin-left: 28%;
}

.blockquote-decoration {
    font-size: 100px;
}

.blockquote-bd {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 1.15;
}

.mix-blockquote_space {
    margin-bottom: 100px;
}

.mix-blockquote_spaceSm {
    margin-bottom: 65px;
}
