/* ---------------------------------------------------------------------
Blockquote - Standard blockquote style
------------------------------------------------------------------------ */
.blockquote {
    margin-right: 13%;
    margin-left: 13%;
}

.blockquote-bd {
    font-size: 28px;
}

.mix-blockquote_space {
    margin-bottom: 125px;
}

.mix-blockquote_spaceSm {
    margin-bottom: 25px;
}

.blockquote-cite {
    font-size: 24px;
}
