/* ----------------------------------------------------------------------
 navMenu - Main navigation menu
---------------------------------------------------------------------- */
.navMenu {
    text-align: center;
}

.navMenu-item-link {
    display: block;
    padding: 14px;
    white-space: nowrap;
    color: $COLOR_TEXT_REVERSE;
    transition: background-color $TRANSITION_DURATION;
}

.current-menu-parent .navMenu-item-link, //CMS active state
.current-menu-item .navMenu-item-link, //CMS active state
.navMenu-item-link:active,
.navMenu-item-link:hover {
    background-color: #1a7aff;
}

/* Theme for Red page */
.theme-red .current-menu-parent .navMenu-item-link, //CMS active state
.theme-red .current-menu-item .navMenu-item-link, //CMS active state
.theme-red .navMenu-item-link:active,
.theme-red .navMenu-item-link:hover {
    background-color: #e50000;
}
