/* ----------------------------------------------------------------------
 preFooter
---------------------------------------------------------------------- */
.preFooter {
    background: $COLOR_BRAND;
    color: #ffffff;
    text-align: center;
}

.preFooter_particles {
    background: $COLOR_BRAND;
}

.mix-preFooter_bg {
    background-image: url("../media/images/globe.png");
    background-repeat: no-repeat;
    background-position: 50% 120%;
    background-size: 800px auto;
}

.mix-preFooter_left {
    text-align: left;
}

.preFooter-inner-section {
    display: block; /* In case element is a link */
    padding: 35px 20px;
    position: relative;
}

.mix-preFooter-inner-section_highlight {
    background-color: rgba(0, 97, 232, 0.4);
}

.mix-preFooter-inner-section_space {
    padding: 45px 20px;
}

.mix-preFooter-inner-section_notMobile {
    display: none;
}

.preFooter-inner-section-subHd {
    color: #003691;
    font-size: 10px;
    font-weight: 500;
    font-family: $FONT_SECONDARY;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.preFooter-inner-section-hd {
    font-size: 24px;
    font-weight: 300;
}

.preFooter-inner-section-hd_lg {
    font-size: 24px;
}

.preFooter-inner-section-hr_simple {
    margin: 25px auto;
    width: 15%;
    height: 2px;
    background-color: #ffffff;
}

.preFooter-inner-section-bd {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.7;
}

.mix-preFooter-inner-section-bd_tight {
    margin-bottom: 0;
}

.preFooter-inner-section-cta-detail {
    font-family: $FONT_SECONDARY;
    font-size: 14px;
}

.preFooter-inner-section-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 45px;
    right: 20px;
    fill: #ffffff;
}

.preFooter-inner-section_centerContent {
    text-align: center;
}
