/* ----------------------------------------------------------------------
 quote - block quote presentation
---------------------------------------------------------------------- */
.quote {
    font: 400 normal 16px/1.5 $FONT;
    color: #ffffff;
    quotes: "\201C" "\201D";
    position: relative;
}

.quote-content::before,
.quote-content::after {
    font: 700 50px/normal "HelveticaNeue-Bold", "Helvetica Bold", "Arial Black", sans-serif;
    position: absolute;
    top: -45px;
}

.quote-content::before {
    content: open-quote;
    left: 0;
}

.quote-content::after {
    content: close-quote;
    left: 25px;
}

.quote-content {
    margin-bottom: 5px;
}

.quote-cite {
    font-weight: 300;
}
