/* ----------------------------------------------------------------------
 section
---------------------------------------------------------------------- */
.section_light {
    background: $COLOR_UI_LIGHT;
    border-top: 1px solid $COLOR_UI_ACCENT;
    border-bottom: 1px solid $COLOR_UI_ACCENT;
}
