/* ----------------------------------------------------------------------
 jobList
---------------------------------------------------------------------- */
.jobList-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jobList-item-content-title {
    font-size: 20px;
}

.jobList-item-content-location {
    font-size: 16px;
}
