@import "../helpers/vars";

@import "fonts";
@import "synack-grid";
@import "clip-button";

/*
 * Navy: #0b1221
 * Blue: #0f61ff
 * Red: #ff2f4b
 * Indigo: #071124
*/

/* Utility */
.hidden {
  display: none;
}
.contained {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

/* Footer */
.site-ft {
  background-color: #131c2b;
  //border: solid thick red !important;
}

footer {
  background-color: #131c2b;
  padding: 0;
  font-family: 'Graphik';
  overflow: hidden;
  font-size: 14px;
  color: #ffffff;
  a {
    transition: color 250ms;
    text-decoration: none;
    color: #ffffff;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* footer layout */
  .newsletter-wrap {
    padding: 50px 30px;
    position: relative;
    border-bottom: solid 1px #212d41;
  }
  .dots-background {
    background-image: url('../media/images/patterns/dots.png');
    opacity: 0.1;
    background-size: 8px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .newsletter-wrap .content-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .newsletter-wrap .description > *:first-child {
    margin-top: 0;
  }
  .description {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .description h3 {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0;
  }
  .description p {
    color: #8695ae;
    font-weight: 400;
    font-size: 16px;
    margin: 10px auto;
  }
  .email-wrap {
    position: relative;
    min-width: 45%;
    max-width: 450px;
  }
  .email-wrap input.email {
    transition: border 0.3s, colors 0.3s;
  }
  .email-wrap input.email.submitted {
    border-color: #00dd8f;
    color: #00dd8f;
  }
  .email {
    border: 2px solid rgba(255, 255, 255, 0.25);
    transition: border-color 300ms;
    -webkit-appearance: none;
    font-family: 'Graphik';
    box-sizing: border-box;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    background: none;
    padding: 15px 20px 14px;
    border-radius: 50px;
    line-height: 19px;
    margin: auto 0;
    background: #131c2b;
  }
  .email:focus {
    border-color: rgba(255, 255, 255, 0.4);
    outline: none;
  }
  .email::placeholder {
    color: rgba(255, 255, 255, 0.25);
    text-transform: initial;
    font-family: 'Graphik';
    font-size: 16px;
  }
  .submit {
    display: inherit;
    transition: opacity 0.3s;
  }
  .submit-arrow {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 30px;
    //margin: auto;
    margin: 17.5px auto;
    cursor: pointer;
  }
  input.email.submitted + .submit {
    opacity: 0;
    pointer-events: none;
  }

  /* Footer menu */
  .nav-footer-menu {
    padding: 40px 30px 80px;
  }
  .nav-footer-menu ul {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .nav-footer-menu a {
    color: #8695ae;
    font-size: 16px;
  }
  .nav-footer-menu a:hover,
  .nav-footer-menu a:focus {
    color: #fff;
  }

  /* Footer bottom */
  .bottom-wrap {
    padding: 0 30px 65px;
    display: flex;
    justify-content: space-between;
  }
  .terms-divider {
    border-bottom: solid 1px #212d41;
  }

  /* Footer contact */
  .contact-wrap {
    /* display: flex;
    align-items: center;
    flex-direction: col; */
  }
  .contact-wrap h3 {
    font-size: 32px;
    margin-top: 0;
  }
  .contact-wrap p {
    font-size: 18px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .contact-us {
    background: #106bff;
    padding: 18px 50px;
    border-radius: 40px;
    font-size: 16px;
    margin-top: 20px;
    white-space: nowrap;
    display: inline-block;
  }

  /* Footer location */
  .location-wrap {
    display: flex;
    overflow: hidden;
    height: 80px;
    flex: 1;
    justify-content: flex-end;
  }
  .location-wrap .initials {
    grid-row: lat / -1;
    font-size: 68px;
    font-weight: 700;
    font-family: 'Crique Grotesk';
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .location-wrap .location {
    color: #8695ae;
    font-size: 20px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  .location-wrap .lat {
    align-items: flex-end;
  }
  .location-wrap .long {
    grid-column: lat-long;
    align-items: flex-start;
  }

  /* Office location animation */
  .office {
    display: grid;
    grid-template-columns: [location] auto [lat-long] auto;
    grid-template-rows: [lat] auto [long] auto;
    grid-gap: 8px 20px;
    position: absolute;
    transition: opacity 0.4s;
  }
  .office:not(.current) {
    opacity: 0;
  }

  /* Footer terms menu */
  .terms-menu {
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .terms-menu .nav-legal-menu,
  .terms-menu .legal-menu {
    display: flex;
    align-items: center;
  }
  .terms-menu,
  .terms-menu a {
    color: #535f75;
  }
  .terms-menu .copyright {
    margin-left: 12px;
  }
  .terms-menu a {
    margin-left: 12px;
    text-decoration: underline;
  }
  .terms-menu a:hover,
  .terms-menu a:focus {
    color: #fff;
  }

  /* Footer social menu */
  .nav-social-menu {
    position: relative;
    top: 2px;
  }
  .nav-social-menu,
  .nav-social-menu .social-menu-item {
    display: flex;
  }
  .nav-social-menu img:not(.twitter) {
    position: relative;
    bottom: 2px;
  }

  /* Mobile */
  @media only screen and (max-width: 790px) {
    /* Email signup */
    .newsletter-wrap {
      padding-top: 30px;
      padding-bottom: 30px;
      text-align: center;
    }
    .newsletter-wrap .content-wrap {
      display: block;
    }
    .email-wrap {
      width: 100%;
      /* max-width: initial; */
      margin-left: auto;
      margin-right: auto;
    }
    .description p {
      margin-top: 10px;
      line-height: 1.4;
    }
    .input-wrap {
      position: relative;
      /* display: inline-block; */
      margin-top: 25px;
    }
    .submit-arrow {
      bottom: 0;
    }

    /* Footer menu */
    .nav-footer-menu ul {
      display: block;
      text-align: center;
    }
    .nav-footer-menu li + li {
      margin-top: 30px;
    }

    /* Bottom wrap */
    .bottom-wrap {
      padding-bottom: 30px;
    }
    .bottom-wrap,
    .bottom-wrap .contact-wrap {
      display: block;
    }
    .contact-wrap {
      text-align: center;
    }
    .contact-us {
      margin: 40px auto 0;
    }

    /* Location wrap */
    .location-wrap {
      margin: 40px auto 0;
      justify-content: center;
    }
    .location-wrap .initials {
      text-align: right;
    }

    /* Terms menu */
    .terms-menu {
      display: block;
      padding: 40px 10px;
    }
    .terms-menu .nav-legal-menu {
      display: block;
      text-align: center;
    }
    .terms-menu .copyright {
      margin: 15px 0;
    }
    .terms-menu .legal-menu {
      justify-content: space-between;
      max-width: 380px;
      margin: auto;
    }
    .terms-menu .legal-menu a {
      margin: 0;
    }

    /* Socials */
    .nav-social-menu {
      justify-content: center;
      margin-top: 30px;
    }
  }
}

/* Animations */
@-webkit-keyframes text-shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -200%;
  }
}
@keyframes text-shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -200%;
  }
}
