/* ------------------------------------------------------------------------------
 Hero Image Module Medium - Holds a large image centered with text content variations
--------------------------------------------------------------------------------- */
.moduleHeroBrain {
    margin-bottom: 40px;
}

.moduleHeroBrain-hd {
    margin-bottom: 20px;
}

.moduleHeroBrain-hd_spaced {
    padding-bottom: 40px;
}
