.cursor {
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-bottom: -3px; // offset font prop inheritence
    background-color: $COLOR_BRAND_THEME;
    // transition: opacity;
    // animation: phase 900ms infinite forwards;
}

@keyframes phase {
    0% {
        opacity: 0.25;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.25;
    }
}
