/* ----------------------------------------------------------------------
 ruler
---------------------------------------------------------------------- */
.ruler_startLg {
    justify-content: flex-start;
}

.ruler_endLg {
    justify-content: flex-end;
}

.mix-ruler_tight {
    margin-bottom: 65px;
}

.mix-ruler_md {
    margin-bottom: 25px;
}

.mix-ruler_hero {
    margin-top: 17px;
    margin-bottom: 12px;;
}
