/* ----------------------------------------------------------------------
 moduleGlobe - Container for the hero layout that has graphic or animation that is sometimes behind content.
---------------------------------------------------------------------- */
.moduleGlobe {
    margin-top: 75px;
    margin-bottom: 0;
}

.moduleGlobe-bd {
    position: absolute; /* To position it over the background layer */
}

.moduleGlobe-bg {
    width: 100%;
    height: 630px;
    background-image: url("../media/images/globe-d.jpg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
