/* ----------------------------------------------------------------------
 navTitle - Navigation with a title
---------------------------------------------------------------------- */
.navTitle {
    display: block;
}

.navTitle-hdg {
    padding-bottom: 13px;
    font-size: 11px;
}
