/* ----------------------------------------------------------------------
 comboBox - pseudo select menu component
---------------------------------------------------------------------- */
.comboBox {
    position: relative;
    cursor: pointer;
}

.comboBox:focus {
    outline: 1px dotted;
}

.comboBox::after {
    width: 0;
    height: 0;
    border-right: 6px solid transparent;
    border-top: 6px solid gray;
    border-left: 6px solid transparent;
    position: absolute;
    top: 50%;
    right: 6%;
    content: "";
    transform: translateY(-50%);
}

.comboBox:focus::after {
    border-top: 0;
    border-right: 6px solid transparent;
    border-bottom: 6px solid gray;
    border-left: 6px solid transparent;
}

.comboBox-value {
    width: 100%;
    border: 0;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    background-color: inherit;
    user-select : none;
}

.comboBox-value,
.comboBox-list {
    font: 400 14px/1.0 $FONT_SECONDARY;
    color: $COLOR_TEXT_LIGHT;
    text-transform: uppercase;
}

.comboBox-list {
    display: none;
    width: 100%;
    border: 1px solid $COLOR_UI_ACCENT;
    border-top-style: dotted;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.02);
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
}

.comboBox.isActive .comboBox-list {
    display: block;
}

.comboBox-list > * {
    display: block;
    padding: 3% 6%;
}

.comboBox-list > *:hover,
.comboBox-list > *:focus {
    color: $COLOR_UI_DARK;
}
