/* ----------------------------------------------------------------------
 secondaryLayout - layout for pages that breaks into columns for desktop
---------------------------------------------------------------------- */
.secondaryLayout {
    padding: 60px 18% 40px 18%;
}

.secondaryLayout-bd-primary {
    padding: 0;
}

.secondaryLayout-hd {
    margin-bottom: 40px;
}
