/* ----------------------------------------------------------------------
 moduleColumn - Module that has header and list of text with header and body content. Used on the Red page.
---------------------------------------------------------------------- */
.moduleColumn {
    margin-right: 14.5%;
    margin-left: 14.5%;
}

.mix-moduleColumn_wide {
    margin-right: 13.5%;
    margin-left: 14%;
}

.moduleColumn-item {
    width: 36.8%;
}

.moduleColumn-item_space {
    padding-top: 123px;
}

.mix-moduleColumn-item_xWide {
    width: 56%;
}

.mix-moduleColumn-item_wide {
    width: 37%;
}
