/* ----------------------------------------------------------------------
 headingMarquee
---------------------------------------------------------------------- */
.headingMarquee-hd {
    font-size: 27px;
    text-align: left;
}

.headingMarquee-bd {
    font-size: 16px;
    text-align: left;
}
