/* ----------------------------------------------------------------------
 infoTile - image container with active/focus/hover info box
---------------------------------------------------------------------- */
.infoTile-content-name {
    font-size: 24px;
}

.infoTile-content-role {
    font-size: 11px;
}

.infoTile-content-meta {
    font-size: 16px;
}
